<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                 template="../templates/uiConMenu.xhtml">
                
	<ui:define name="head">
		<script type="text/javascript">
		

			$(document).off('click','.btnUpdDetaClassRFTecn').on('click','.btnUpdDetaClassRFTecn',function(){
				
				$(this).hide();
				$('.bntTermAddItemRFTecn').show();
				
				$('.fieldClassRFTecn').show();
				
				$('.btnRegDTecnClassRFTecn').hide();
				
			});
		
			$(document).off('click','.bntTermAddItemRFTecn').on('click','.bntTermAddItemRFTecn',function(){
				
				$(this).hide();
				$('.btnUpdDetaClassRFTecn').show();
				
				$('.fieldClassRFTecn').hide();
				
				$('.btnRegDTecnClassRFTecn').show();
				
			});
			
			$(document).off('click','.btnRegClieCClie').on('click','.btnRegClieCClie',function(){
				$('.hdnbtncargadata').trigger('click');
			})
			
			$(document).off('click','.btnRegAutoCAuto').on('click','.btnRegAutoCAuto',function(){
				$('.hdnbtncargadata').trigger('click');
			})
			
		</script>
	</ui:define>

	<ui:define name="title">
        <span class="orange">Boleta</span>
    </ui:define>

	<ui:define name="content">
		<p:growl showDetail="true" autoUpdate="true" />
		
		
		
		<h:form id="idForm">
			<div class="ui-fluid">
			<p:fieldset legend="CABECERA" toggleable="true" toggleSpeed="500">
			
				<p:panelGrid columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" layout="grid" styleClass="ui-panelgrid-blank">
				
					<p:fieldset legend="Cliente" style="margin-bottom: 15px;">
						<p:panelGrid columns="2" columnClasses="ui-grid-col-4 text-right,ui-grid-col-8" layout="grid" >
							<p:column>
								<p:outputLabel value="Cliente"/>
							</p:column>
							<p:column>
								
								
				        		<p:commandButton value="Buscar Cliente" 
				        		action="#"
				        		update=":idBuscarCliente"
				        		oncomplete="PF('wBuscarCliente').show();"/>
				        	</p:column>
								
							<p:outputLabel value="Código"/>
							<p:inputText value="#{ventas.cliente.codCliente}" styleClass="no-edit"/>
							
							<p:outputLabel value="Nombre" />
							<p:inputText value="#{ventas.cliente.nomCliente}" styleClass="no-edit"/>
							
							<p:outputLabel value="Apellido"/>
							<p:inputText value="#{ventas.cliente.apeCliente}" styleClass="no-edit"/>
							
							<p:outputLabel value="Sexo"/>
							<p:inputText value="#{ventas.cliente.sexoCliente}" styleClass="no-edit"/>

						</p:panelGrid>
					</p:fieldset>
				</p:panelGrid>
			</p:fieldset>
			</div>
		</h:form> 

		<!-- Detalle -->
		<h:form id="frmVenta">
						
							<p:fieldset legend="Detalle" style="margin-top:5px;" id="idFieldsetDetalleRFTecn">
							
								<p:dataTable id="tblVenta" value="#{sessionScope.detalle}" 
									var="aux">
												
									<p:column headerText="CODIGO">
										<p:outputLabel value="#{aux.codMed}"/>
									</p:column>
									
									<p:column headerText="MEDICAMENTO">
										<p:outputLabel value="#{aux.nomMed}"/>
									</p:column>
									<p:column headerText="CANTIDAD">
										<p:outputLabel value="#{aux.cantidad}"/>
									</p:column>
									<p:column headerText="PRECIO">
										<p:outputLabel value="S/. "/>
										<p:outputLabel value="#{aux.precio}">
											<!--<f:convertNumber pattern="#0.00" locale="en_US" /> -->
										</p:outputLabel>
									</p:column>
									<p:column headerText="IMPORTE">
										<p:outputLabel value="S/. "/>
										<p:outputLabel value="#{aux.importe}">
											<!--<f:convertNumber pattern="#0.00" locale="en_US" /> -->
										</p:outputLabel>
									</p:column>
									<p:column>
										<p:commandButton icon="ui-icon-remove" action="#" 
											update=":frmVenta:tblVenta"/>
									</p:column>
									<p:columnGroup type="footer">
				            			<p:row>
							                <p:column colspan="4" style="text-align:right" 
							                		footerText="Total a pagar " />
							                <p:column footerText="#{ventas.monto}">
							                </p:column>
							                <p:column colspan="1" />   
							            </p:row>
			     					</p:columnGroup>
									
								</p:dataTable>
								
								<p:panelGrid columns="2" styleClass="ui-g-12 ui-panelgrid-blank" layout="grid">
								
									<p:commandButton value="Agregar Medicamento"
										action="#"
				        				update=":idBuscarMedicamento" 
										oncomplete="PF('wlgBuscaMedicamento').show();"
										/>
								
									<p:commandButton value="Registrar Boleta" action="#{ventas.registraVenta}" update=":frmVenta:tblVenta :idForm"/>
													
								</p:panelGrid>
								
							</p:fieldset>
						</h:form>

		<!-- Buscar Cliente -->
		<p:dialog header="BuscarCliente" modal="true" widgetVar="wBuscarCliente"
			resizable="false" draggable="false" id="idBuscarCliente" height="500">
			<h:form>
				<p:panelGrid columns="4" columnClasses="text-right,ui-fluid" styleClass="ui-panelgrid-blank">
					<p:outputLabel value="Apellido"  />
					<h:inputText value="#{ventas.apellido}"/>
					<p:commandButton 
								action="#{ventas.consultaClienteXApellido}" 
								update="tablaCliente"
								icon="ui-icon-search" title="Buscar"/>
					<f:facet name="footer">
					   <h:panelGroup style = "display:block; text-align:center">
							<p:dataTable id="tablaCliente" 
									var="aux"  
									value="#{ventas.listaCliente}" 
									binding="#{ventas.dtFilaCliente}"
									style="width:750px">
								<f:facet name="header">Lista Clientes</f:facet>
								<p:column headerText="CÓDIGO">
									<h:outputText value="#{aux.codCliente}"/>
								</p:column>
								<p:column headerText="NOMBRE">
									<h:outputText value="#{aux.nomCliente}"/>
								</p:column>
								<p:column headerText="APELLIDO">
									<h:outputText value="#{aux.apeCliente}"/>
								</p:column>
								<p:column style="width:50px">
									<p:commandButton icon="fa fa-fw fa-edit"  
									action="#{ventas.seleccionarCliente}" 
									oncomplete="PF('wBuscarCliente').hide()"
									update=":idForm"/>
								</p:column>
							</p:dataTable>	
					
					  </h:panelGroup>		
					</f:facet>	
			</p:panelGrid>
			</h:form>
		</p:dialog>		
		
<!-- Dialogo Buscar Medicamento -->
			<p:dialog header="Consulta Medicamento" widgetVar="wlgBuscaMedicamento" modal="true" 
				resizable="false" closable="true" draggable="false"  id="idBuscarMedicamento"
				height="600">
				<h:form id="frmConsultaMedicamento">
					<h:outputText value="Buscar Nombre"/>
					<h:inputText value="#{ventas.nombre}"/>
					<h:outputText value="Cantidad"/>
					<h:inputText value="#{ventas.cantidad}"/>
					<p:commandButton 
						action="#{ventas.consultaMedicamentoXNombre}" 
						oncomplete="" update="frmConsultaMedicamento:tablax"
									icon="ui-icon-search" title="Buscar"/>
					<p:commandButton action="#{ventas.adicionar}" update=":frmVenta:tblVenta" 
								icon="ui-icon-pencil" title="Adicionar"/>
				
					<p:dataTable id="tablax" var="aux" 
						value="#{ventas.listaMedicamento}" 
						binding="#{ventas.dtFilaMedicamento}"
						style="width:750px">

					<f:facet name="header">Lista Medicamentos</f:facet>
					
					<p:column headerText="CÓDIGO">
						<h:outputText value="#{aux.codMedicamento}"/>
					</p:column>
					<p:column headerText="NOMBRE">
						<h:outputText value="#{aux.nomMedicamento}"/>
					</p:column>
					<p:column style="width:50px">
						<p:commandButton 
							action="#{ventas.seleccionarMedicamento}" 
							icon="ui-icon-pencil" title="Seleccionar"/>
					</p:column>
				</p:dataTable>	

				 </h:form>	
				</p:dialog>			
	</ui:define>
</ui:composition>
